repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
        - id: check-yaml
        - id: end-of-file-fixer
        - id: mixed-line-ending
        - id: trailing-whitespace
          args: [ --markdown-linebreak-ext=md ]

    - repo: https://github.com/rbubley/mirrors-prettier
      rev: v3.8.1
      hooks:
        - id: prettier
          types_or: [html, markdown]
