name: Upload to remote

on: [ workflow_dispatch ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v6

          - name: Upload files via SSH/SCP
            uses: appleboy/scp-action@ff85246acaad7bdce478db94a363cd2bf7c90345  # v1.0.0
            with:
                host: ${{ secrets.HOST }}
                username: ${{ secrets.USERNAME }}
                key: ${{ secrets.SSH_KEY }}
                source: "./src"
                target: "/var/www/${{ secrets.SITE }}/html"
                tar_tmp_path: "/tmp/"
                strip_components: 2
